.footer {
    background-color: var(--themeColor);
    //   padding: var(--smallestGap);
    text-align: center;
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
}
