/****** Default font ******/
// @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

/****** Default CSS ******/
:root {
    --navbarHeight: 4rem;
    --bodyFont: "Ubuntu", sans-serif;
    --largeGap: 2rem;
    --normalGap: 1.5rem;
    --smallGap: 1rem;
    --smallestGap: 0.5rem;

    --bigFontSize: 2.5rem;
    --fontSize: 1.5rem;
    --smallFontSize: 1.2rem;
    --smallestFontSize: 0.9rem;

    --textColor: rgb(0, 0, 0);
    --textColorLight: rgb(64, 64, 64);
    --bodyColor: rgb(255, 255, 255);
    --themeColor: rgb(208, 210, 255);
    --buttonColor: rgb(0, 0, 245);
    --buttonColor2: rgb(83, 0, 128);
    --buttonColor3: rgb(255, 44, 44);
}

body {
    font-family: var(--bodyFont);
    font-size: var(--fontSize);
    color: var(--textColor);
    background-color: var(--bodyColor);
    margin: var(--navbarHeight) 0 0 0;
}

main {
    min-height: 85vh;
}

.in_middle {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
