.site-container {
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 100vh;
}

.main-details {
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.site-details {
    flex: 1;
}
